.bounce {
  margin-top:-25px;
  -webkit-animation:bounce .5s infinite;
}

@-webkit-keyframes bounce {
  0%       { padding-bottom:5px; }
  25%, 75% { padding-bottom:15px; }
  50%      { padding-bottom:20px; }
  100%     {padding-bottom:0;}
}